/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 1, 2015, 11:55:45 AM
    Author     : yehancha
*/

.form-ask {
  max-width: 700px;
  padding: 15px;
  margin: 0 auto;
}
.form-ask .form-ask-heading,
.form-ask .checkbox {
  margin-bottom: 10px;
}
.form-ask .checkbox {
  font-weight: normal;
}
.form-ask .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-ask .form-control:focus {
  z-index: 2;
}