/* 
    Document   : autoqa
    Created on : Dec 31, 2014, 1:22:42 PM
    Author     : Yehan
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}
body {
  padding-top: 70px;
  background: #eee;
}
body > .container {
  padding-top: 20px;
  padding-bottom: 60px;
  background: #fff;
  border-radius: 10px;
}
span:hover[class="label label-default tag"] {
  cursor: pointer;
  background: #494949;
}
a:hover[class="tag"] {
  text-decoration: none;
}