/* 
    Document   : category_tag
    Created on : Jan 2, 2015, 2:10:28 PM
    Author     : Yehan
    Description:
        Purpose of the stylesheet follows.
*/

.tag {
  line-height: 40px;
  font-size: 20px;
}

