/* 
    Document   : question_view
    Created on : Dec 31, 2014, 5:25:13 PM
    Author     : Yehan
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}
.question-main {
  line-height: 1.5;
}
.question-post {
  font-size: 16px;
  margin-bottom: 20px;
}
.question-post-title {
  margin-bottom: 20px;
  font-size: 40px;
}
.question-post-meta {
  margin-bottom: 20px;
  color: #999;
}
.question-sidebar {  
  font-size: 14px;
  margin-bottom: 10px;
}
.question-sidebar p {
  text-align: center;
  margin-bottom: 15px;
}
.question-sidebar #votes {
  font-size: 24px;
}
.question-sidebar-top-left {
  margin-top: 35px;
}
.question-sidebar-top-right {
  margin-top: 20px;
}
.rating-container {
  margin-top: -6px;
}
.form-ask {
  padding: 15px;
  margin: 0 auto;
}
.form-ask .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-ask .form-control:focus {
  z-index: 2;
}
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
.tag {
  line-height: 20px;
}
p[id^="answer"] {
  padding-top: 70px; /* padding and margin are same to make no position changes */
  margin-top: -70px; /* but tell the browser to scroll position on anchors */
}
span:hover[id="votes"] {
  cursor: pointer;
  background: #494949;
}
.no-dec a:link, .no-dec a:visited, .category a:link, .category a:visited {
  color: #999;
}