/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 1, 2015, 8:40:35 AM
    Author     : yehancha
*/

.question-sidebar {
  margin-top: 20px;
  font-size: 14px;
}
.question-sidebar-left {
  margin-top: 25px;
}
.question-sidebar p {
  text-align: center;
  margin-bottom: 15px;
}
.answer-sidebar {
  font-size: 12px;
}
.answer-sidebar p {
  text-align: left;
}
.answer-sidebar-right {
  margin-top: 2px;
}
.question-sidebar .votes {
  font-size: 24px;
}
.answer {
  line-height: 1.5em;
  height: 3em;       /* height is 2x line-height, so two lines will display */
  overflow: hidden;  /* prevents extra lines from being visible */
}
.no-dec a:link, .no-dec a:visited, .answer a:link, .answer a:visited, .category a:link, .category a:visited {
  color: #999;
}
.question-post-meta {
  margin-bottom: 20px;
  color: #999;
}
.answer-meta {
  color: #999;
}
.rating-container {
  margin-top: -5px;
}
.nav-tabs {
  margin-bottom: 20px;
}