.form-register {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-register .form-register-heading,
.form-register .checkbox {
  margin-bottom: 10px;
}
.form-register .checkbox {
  font-weight: normal;
}
.form-register .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-register .form-control:focus {
  z-index: 2;
}
.form-register input[id="inputName"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-register input[id="inputUsername"] {
  margin-bottom: -1px;
  border-radius: 0;
}
.form-register input[id="inputPassword"] {
  margin-bottom: -1px;
  border-radius: 0;
}
.form-register input[id="inputConfPassword"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
