/* 
    Document   : user_view
    Created on : Jan 3, 2015, 11:47:07 AM
    Author     : Yehan
    Description:
        Purpose of the stylesheet follows.
*/

.question-sidebar {
  margin-top: 20px;
  font-size: 14px;
}
.question-sidebar-left {
  margin-top: 25px;
}
.question-sidebar p {
  text-align: center;
  margin-bottom: 15px;
}
.question-sidebar .votes {
  font-size: 24px;
}
.question-post-meta {
  margin-bottom: 20px;
  color: #999;
}
.rating-container {
  margin-top: -5px;
}
.answer-sidebar {
  font-size: 12px;
}
.answer-sidebar p {
  text-align: left;
}
.answer-sidebar-right {
  margin-top: 2px;
}
.answer {
  line-height: 1.8em;
  height: 3.5em;       /* height is 2x line-height, so two lines will display */
  overflow: hidden;  /* prevents extra lines from being visible */
}
.answer-meta {
  color: #999;
}
.question a:link, .question a:visited, .category a:link, .category a:visited {
  color: #999;
}
.sidebar-module {
  font-size: 14px;
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  margin: 15px;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child {
  margin-bottom: 0;
}
